{% extends "layout.html" %}

{% block title %}Edit Alert: {{ alert.name }} - {{ alert.description }}{% endblock %}

{% block content %}
{% from '_macros.html' import render_field %}

<h2>Edit Alert: {{ alert.name }} - {{ alert.description }}</h2>
{% if not alert.enabled_in_config %}
<div class="alert alert-info">
	<strong>This Alert is Disabled</strong> - the configuration file has explictly disabled this Alert.
</div>
{% endif %}
<form class="form-horizontal" method="POST">
	<h3>Global Toggle</h3>
	{{ render_field(form.enabled) }}
	<h3>Individual States</h3>
	<p>
		This alert will be triggered when a monitor enteres any enabled states
	</p>
	{{ render_field(form.state_ok) }}
	{{ render_field(form.state_alarm) }}
	{{ render_field(form.state_error) }}
	{{ render_field(form.state_inactive) }}
	<div class="controls">
		<button type="submit" class="btn btn-large btn-primary">Save Alert</button>
	</div>
</form>
{% endblock %}
