{% extends "layout.html" %}

{% block title %}Monitor Detail: {{ monitor.name }}{% endblock %}
{% block content %}
{% from '_macros.html' import state_label %}

<div class="clearfix">
	<div class="pull-right">
		<a class="btn btn-info" href="{{ url_for('monitor_edit', monitor_id=monitor.id) }}">Edit</a>
	</div>
	<h2>Monitor Detail: {{ monitor.name }}</h2>
</div>

<div class="row">
	<div class="span6">
		<h3>Task</h3>
		<pre>{{ monitor.task }}</pre>
	</div>
	<div class="span4">
		<h3><a href="{{ url_for('monitor_history', monitor_id=monitor.id) }}">History</a></h3>
		{% for log in monitor.logs.filter_by(state_changed=True).order_by('timestamp DESC').limit(20) %}
			<div class="togglemessage">
				<div class="clearfix">
					{{ state_label(log.old_state) }} &rarr; {{ state_label(log.new_state) }}
					<div class="pull-right">
						<span title="{{ log.timestamp.strftime('%Y-%m-%d %H-%M-%S UTC') }}" data-livestamp="{{ log.timestamp.isoformat() }}Z"></span>
					</div>
				</div>
				<div class="message">
					<div class="well" style="padding: 3px 5px;">
						<div>
							<strong>Message:</strong><br/>
							{{ log.message or 'None' }}
						</div>
						<div>
							<strong>Return Value:</strong><br/>
							{{ log.return_value }}
						</div>
						
					</div>
				</div>
			</div>
			<hr style="margin: 3px 0; border: solid 1px black;"/>
		{% endfor %}
	</div>
</div>

{% endblock %}