{% extends "layout.html" %}

{% block title %}Monitors{% endblock %}
{% block content %}
{% from '_macros.html' import state_label %}

<div class="clearfix">
	<div class="pull-right">
		<a class="btn btn-info" href="/create">Create Monitor</a>
	</div>
	<h2>Monitors</h2>
</div>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>State</th>
			<th>Last Run</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody>
		{% for monitor in monitors %}
		<tr>
			<td>{{ monitor.name }}</td>
			<td>{{ state_label(monitor.state) }}</td>
			<td><span title="{{ monitor.last_run_timestamp.strftime('%Y-%m-%d %H-%M-%S UTC') }}" data-livestamp="{{ monitor.last_run_timestamp.isoformat() }}Z"></span></td>
			<td><a class="btn btn-small" href="{{ url_for('monitor_detail', monitor_id=monitor.id) }}">Detail</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}