{% extends "layout.html" %}

{% block title %}Create a Monitor{% endblock %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='ace.js') }}"></script>
{% endblock %}

{% block content %}
{% from '_macros.html' import render_field %}

{% if create %}
	<h2>Create a Monitor</h2>
{% else %}
	<h2>Edit Monitor: <a href="{{ url_for('monitor_detail', monitor_id=monitor.id) }}">{{ monitor.name }}</a></h2>
{% endif %}
<form class="form-horizontal" method="POST">
	{{ render_field(form.name, style="width: 100%") }}
	{{ render_field(form.retain_days) }}
	{{ render_field(form.active) }}
	<h3>Schedule</h3>
	<p>
		All schedule fields are cron format
	</p>
	{{ render_field(form.schedule_year) }}
	{{ render_field(form.schedule_month) }}
	{{ render_field(form.schedule_day) }}
	{{ render_field(form.schedule_day_of_week) }}
	{{ render_field(form.schedule_week) }}
	{{ render_field(form.schedule_hour) }}
	{{ render_field(form.schedule_minute) }}
	{{ render_field(form.schedule_second) }}
	
	<h3>Task</h3>
	<p>
		Variables are:
		<ul>
			<li>
				<strong>sources</strong> - a dict as defined in the configuration
				<ul>
					{% for source_name, source in sources.items() %}
						<li>sources['{{ source_name }}'] - {{ source.name }}<br/>{{ source.description }}</li>
					{% endfor %}
				</ul>
			</li>
		</ul>
	</p>
	<p>
		Raise a 'MonitorFailure' Exception if this monitor has failed.  All other exceptions will be considered errors.
	</p>
	<p>
		Anything assigned to the variable "return_value" will be retained in the logs.
	</p>
	<div style="position: relative; height: 300px; width: 100%; border: solid 2px #666;">
		<div id="editor"></div>
	</div>
	{{ form.task(style="width: 100%", rows="15") }}
	<div class="controls" style="margin-top: 2em;">
		<button type="submit" class="btn btn-large btn-primary">Save Monitor</button>
	</div>
</form>

<script type="text/javascript">
$(function(){
	var editor = ace.edit("editor");
	var textarea = $('textarea#task').hide();
	editor.getSession().setValue(textarea.val());
	editor.getSession().setMode("ace/mode/python");
	editor.setTheme("ace/theme/chrome");
	editor.setShowPrintMargin(false);
	editor.getSession().on('change', function(){
	  textarea.val(editor.getSession().getValue());
	});
});
</script>

{% endblock %}
