<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	
    {% block head %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='app.css') }}" rel="stylesheet">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='moment.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='livestamp.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <title>{% block title %}{% endblock %} - Periscope</title>
    {% endblock %}
  </head>
  <body>
  	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Periscope</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="/">Monitors</a>
              </li>
              <li class="">
                <a href="/alarmas">Alarms</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
    	{% block content %}{% endblock %}
    </div>
  </body>
</html>